@import url("https://use.typekit.net/dzk5lsk.css");

$black: #363636;
$blue: #004CD3;
$gray: rgb(161, 161, 161);
$grayD: rgb(99, 99, 99);
$grayL: rgb(232, 234, 238);

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'interstate', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $black;
}
h1 {
    font-size: 26px;
    margin-bottom: 6px;
}
p {
    color: $grayD;
    line-height: 1.5;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: $black;
    &:active, &:hover {
        color: $blue;
    }
}

.wrapper-lg {
    width: calc(100%-30px);
    margin: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .logo {width: 52px;}
    nav {display: none;}
    > h3 {user-select: none;}
    .settings {
        .zip-head {
            display: inline-block;
            font-weight: 700;
        }
        .fas {
            margin-left: 6px;
            color: $gray;
        }
        &:hover {
            cursor: pointer;
            .fas{color:$black;}
        }
    }
}

.main-wrapper {
    width: calc(100% - 15px);
    margin: 0 0 8px 15px;
    padding: 25px;
    overflow: auto;
    background: $grayL;
    border-radius: 32px 0 0 32px;
    > h2 {margin-bottom: 24px;}
}
.main-content {
    .wear {
        display: flex;
        flex-direction: column;
        align-items: center;
        .wear-img {
            max-width: 65%;
            margin: 0 auto 16px auto;
        }
    }
    .weather-mob {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        border-radius: 16px 0 0 16px;
        margin: 0 -25px 24px 0;
        &::-webkit-scrollbar{display: none;}
    }
    .bumper {
        border: 1px solid $grayL;
        margin-left: 10px;
    }
    .card {
        flex: 0 0 auto;
        display: inline-block;
        min-width: 100px;
        // max-height: 100px;
        margin-right: 15px;
        padding: 15px;
        background: white;
        border-radius: 16px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
        h5 {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 4px;
            color: $grayD;
        }
        .card-output {
            font-size: 32px;
            font-weight: 500;
            text-align: center;
            color: $black;
            margin-top: 5px;
        }
    }
    .temperature {
        min-width: 55%;
        padding: 15px 15px 15px 15px;
        background: $blue;
        background: linear-gradient(135deg, rgba(0,58,203,1) 0%, rgba(24,202,244,1) 100%);
        h5 {color: white;}
        .weather-temp {
            font-size: 52px;
            font-weight: 500;
            line-height: 52px;
            color: white;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -140px 0 0 -140px;
    padding: 15px;
    width: 280px;
    max-width: 280px;
    background: white;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    h2 {
        margin-bottom: 10px;
    }
    .line {
        width: calc(100% + 30px);
        margin: 0 -15px 15px -15px;
        border-top: 2px solid $grayL;
    }
    label {
        display: block;
        color: $grayD;
    }
    input[type=number] {
        display: block;
        margin: 8px 0 15px 0;
        padding: 8px;
        width: 100%;
        font-size: 14px;
        background: $grayL;
        color: $black;
        border: none;
        border-bottom: 2px solid $black;
        &:focus {
            outline: none;
            border-color: $blue;
            background: transparent;
        }
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }
    .units {
        margin: 8px 0 15px 0;
    }
    .radio-container {
        display: block;
        position: relative;
        font-weight: 400;
        color: $black;
        cursor: pointer;
        user-select: none;
        input[type=radio] {
            margin-right: 12px;
            opacity: 0;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:checked ~ .checked {
                border-color: $blue;
                &:after {
                    display: block;
                    background-color: $blue;
                }
            }
        }
        input#radioF {
            margin-bottom: 14px;
        }
        .checked {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border: 1px solid $gray;
            border-radius: 50%;
            &:after {
                content: '';
                display: none;
                position: absolute;
                top: 2px;
                left: 2px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $blue;
            }
        }
        &:hover input ~ .checked:after {
            display: block;
            background: $gray;
        }
    }
    button {
        float: right;
        padding: 8px 18px;
        font-size: 14px;
        font-weight: 500;
        color: $blue;
        background-color: white;
        border: 2px solid $blue;
        border-radius: 12px;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: $blue;
        }
        &:focus {
            outline: none;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px !important;
    width: calc(100%-30px);
}

@media screen and (min-width: 600px) {
    body {font-size: 16px;}
    .main-wrapper {
        height: calc(100vh - 90px);
    }
    .content-wrap {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        align-items: center;
        margin-bottom: 24px;
        .weather-mob {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            margin: 0;
            width: 100%;
            .bumper{display: none;}
        }
        .temperature {
            grid-area: 1/1/2/4;
            height: 300px;
            min-width: 100%;
            .weather-temp {
                text-align: center;
                margin-top: 100px;
                font-size: 100px;
            }
        }
        .card {
            margin-right: 0;
            min-width: 100%;
        }
        .wear {
            max-width: 500px;
        }
    }
    .modal {display: none;}
    .weather-desk {position: absolute; top: 50%;}
}