@import url("https://use.typekit.net/dzk5lsk.css");
// 400,500,700
$black: #363636;
$blue: #004CD3;
$gray: #B2B2B2;
$lightGray: rgb(232, 234, 238);

*, *::after, *::before {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'interstate', sans-serif;
    font-weight: 500;
    color: $black;
}
a {
    text-decoration: none;
    color: $black;
    &:active, &:hover {
        color: $blue;
    }
}
.wrapper-lg {
    width: calc(100%-60px);
    margin: 0 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .logo {
        width: 62px;
    }
    nav a {
        margin: 0 20px;
    }
    .settings {
        .settings-zip {
            font-weight: 700;
        }
        .fas {
            margin-left: 10px;
            color: $gray;
        }
        &:hover {
            cursor: pointer;
            .settings-zip{color:$blue;}
            .fas{color:$black;}
        }
    }
}

.main-wrapper {
    width: calc(100% - 30px);
    height: 100vh;
    overflow: auto;
    margin: 0 0 0 30px;
    padding: 60px 30px 60px 60px;
    background: $lightGray;
    border-radius: 64px 0 0 64px;
    h1 {
        margin-bottom: 28px;
    }
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas:
    "weather wear";
}
.weather-widget {
    grid-area: weather;
    height: 400px;
    // width: 100%;
    min-width: 230px;
    padding: 40px 30px;
    background: white;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
    .weather-temp {
        font-size: 80px;
        color: $blue;
    }
    .line{
        border-top: 2px solid $lightGray;
        width: 100%;
    }
}

#id {
    grid-area: wear;
}