@import url("https://use.typekit.net/dzk5lsk.css");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'interstate', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #363636;
}

h1 {
  font-size: 26px;
  margin-bottom: 6px;
}

p {
  color: #636363;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #363636;
}

a:active, a:hover {
  color: #004CD3;
}

.wrapper-lg {
  width: calc(100%-30px);
  margin: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header .logo {
  width: 52px;
}

.header nav {
  display: none;
}

.header .settings .zip-head {
  display: inline-block;
  font-weight: 700;
}

.header .settings .fas {
  margin-left: 6px;
  color: #a1a1a1;
}

.header .settings:hover {
  cursor: pointer;
}

.header .settings:hover .fas {
  color: #363636;
}

.main-wrapper {
  width: calc(100% - 15px);
  margin: 0 0 15px 15px;
  padding: 25px;
  overflow: auto;
  background: #e8eaee;
  border-radius: 32px 0 0 32px;
}

.main-wrapper > h2 {
  margin-bottom: 24px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .wear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.main-content .wear .wear-img {
  width: 65%;
  margin: 0 auto 16px auto;
}

.main-content .weather-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  border-radius: 16px 0 0 16px;
  margin: 0 -25px 24px 0;
}

.main-content .weather-mob::-webkit-scrollbar {
  display: none;
}

.main-content .bumper {
  border: 1px solid #e8eaee;
  margin-left: 10px;
}

.main-content .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
  min-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  padding: 15px;
  background: white;
  border-radius: 16px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.main-content .card h5 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4px;
  color: #636363;
}

.main-content .card .card-output {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #363636;
  margin-top: 5px;
}

.main-content .temperature {
  min-width: 55%;
  padding: 15px 15px 15px 15px;
  background: #004CD3;
  background: linear-gradient(135deg, #003acb 0%, #18caf4 100%);
}

.main-content .temperature h5 {
  color: white;
}

.main-content .temperature .weather-temp {
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
  color: white;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -140px;
  padding: 15px;
  width: 280px;
  max-width: 280px;
  background: white;
  border-radius: 16px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.modal h2 {
  margin-bottom: 10px;
}

.modal .line {
  width: calc(100% + 30px);
  margin: 0 -15px 15px -15px;
  border-top: 2px solid #e8eaee;
}

.modal label {
  display: block;
  color: #636363;
}

.modal input[type=number] {
  display: block;
  margin: 8px 0 15px 0;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  background: #e8eaee;
  color: #363636;
  border: none;
  border-bottom: 2px solid #363636;
  -moz-appearance: textfield;
}

.modal input[type=number]:focus {
  outline: none;
  border-color: #004CD3;
  background: transparent;
}

.modal input[type=number]::-webkit-outer-spin-button, .modal input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal .units {
  margin: 8px 0 15px 0;
}

.modal .radio-container {
  display: block;
  position: relative;
  font-weight: 400;
  color: #363636;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal .radio-container input[type=radio] {
  margin-right: 12px;
  opacity: 0;
  cursor: pointer;
}

.modal .radio-container input[type=radio]:focus {
  outline: none;
}

.modal .radio-container input[type=radio]:checked ~ .checked {
  border-color: #004CD3;
}

.modal .radio-container input[type=radio]:checked ~ .checked:after {
  display: block;
  background-color: #004CD3;
}

.modal .radio-container input#radioF {
  margin-bottom: 14px;
}

.modal .radio-container .checked {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #a1a1a1;
  border-radius: 50%;
}

.modal .radio-container .checked:after {
  content: '';
  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #004CD3;
}

.modal .radio-container:hover input ~ .checked:after {
  display: block;
  background: #a1a1a1;
}

.modal button {
  float: right;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
  color: #004CD3;
  background-color: white;
  border: 2px solid #004CD3;
  border-radius: 12px;
  cursor: pointer;
}

.modal button:hover {
  color: white;
  background-color: #004CD3;
}

.modal button:focus {
  outline: none;
}

footer {
  margin-bottom: 15px !important;
  width: calc(100%-30px);
  text-align: right;
}
/*# sourceMappingURL=style.css.map */